@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*Hero Section Styling*/
#hero-container {
  background-color: #222;
  min-height: 100vh;
  width: 100%;
  padding: 30px 7% 0 7%;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding-left: 100px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  transition: all ease-in-out 250ms;
}

nav ul li a:hover {
  color: #f36b50;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.hero img {
  flex-basis: 50%;
}

.hero-row {
  flex-basis: 50%;
}

.hero-row h1 {
  font-size: 144px;
  font-weight: 800;
  color: #fff;
  text-align: right;
}

.hero-row h4 {
  font-size: 24px;
  font-weight: 800;
  color: #f36b50;
  padding-top: 80px;
}

.hero-row h3 {
  font-size: 36px;
  font-weight: 800;
  color: #fff;
  padding: 22px 0 50px 0;
}

.hero-row a {
  text-decoration: none;
  color: #f36b50;
  font-size: 36px;
  padding-right: 50px;
}

/*About-me section styling*/
#about-me {
  min-height: 100vh;
  width: 100%;
  background-color: #1d1d1d;
  padding: 50px 7% 50px 7%;
}

h2 {
  font-weight: 800;
  font-size: 72px;
  color: #f36b50;
}

h2 span {
  font-weight: 600;
  color: #fff;
}

#about-me table {
  color: #fff;
  border-collapse: separate;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-left: auto;
  margin-right: auto;
}

#about-me table tr td {
  padding: 20px 100px;
}
.heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

/*My Work Styling*/
#works {
  min-height: 100vh;
  background-color: #222;
  padding: 50px 7% 50px 7%;
}

.content-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  gap: 60px;
  padding: 40px 0 40px 0;
}

.works-text a {
  text-decoration: none;
  color: #f36b50;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.works-text p {
  font-weight: 500;
  font-size: 20px;
  line-height: 23.5px;
  color: #fff;
  padding-top: 17px;
}

/*Connect Section Styling*/
#connect {
  width: 100%;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  padding: 50px 7% 0px 7%;
}

#connect-form {
  flex-basis: 40%;
}

#connect-form h2 {
  padding-bottom: 20px;
}

.field, textarea {
  width: 468px;
  height: 60px;
  margin-bottom: 50px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 24px;
  padding-left: 30px;
}

textarea {
  height: 250px;
  padding-top: 15px;
}

#submit {
  width: 468px;
  height: 60px;
  background-color: transparent;
  border: none;
  border: 2px solid #fff;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

#connect img {
  align-items: flex-end;
  height: min-content;
  padding-top: 120px;
}
